<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="native-api-objectscript.ZPM">
    <Module>
      <Name>native-api-objectscript</Name>
      <Version>1.0.1</Version>
      <Description>A small demo on how to use IRIS Native API for ObjectScript</Description>
      <Keywords>Terminal, Native API</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="rcc.ONAPI.PKG"/>
    </Module>
  </Document>
</Export>
